@page
@model Warehouse.Pages.Items.Eventlog.LogsModel

@{
    ViewData["Title"] = "Логи";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Логи тестовый вариант</h1>

<div class="text-center">
    <table id="LogsData" class="table table-striped table-bordered text-center" style="width:100%">
        <thead class="thead-color justify-content-center align-items-center">
            <tr>
                <th>ID</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Дата</th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/js/LogsVer2.js"></script>