@page
@{
    ViewData["Title"] = "Перемещение матриц";
}
<h1 class="pb-1 text-center text-muted">Перемещение матриц</h1>
<hr />
<div class="container p-0 m-0">
    <table class="table table-reflow text-center table-striped table-bordered" id="items">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle">Фото</th>
                <th class="align-middle">Название</th>
                <th class="align-middle">Артикул</th>
                <th class="align-middle">Статус</th>
                <th class="align-middle">Размеры</th>
                <th class="align-middle"><img src="~/icons/IconCell.png" height="20"></th>
                <th class="align-middle">Склады</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="/js/ItemsMove.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".myfancybox").fancybox({});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".myframe").fancybox({
                iframe: {
                    scrolling: 'yes',
                },
            });
        });
    </script>
}
