@page
@model Warehouse.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Список матриц";
}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-9">
            <h1 class="text-info">Список матриц</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row pt-2 pb-1">
        <div class="col-6">
            <div class="input-group">
                <select onchange="ShowCategory(this.value)" name="SelecterCategory" class="custom-select" id="inputGroupSelect04" asp-items="Model.GroupsList">
                    <option value="All">Выберите категорию</option>
                </select>
                <div class="input-group-append pr-1">
                    <button id="ResetCategory" class="btn btn-outline-secondary" type="button">Сбросить</button>
                </div>
            </div>
        </div>
        @if (!User.IsInRole("Watcher"))
        {
            <div class="col-3"></div>
            <div class="col-3"><a asp-page="Create" class="btn btn-info form-control text-white">Добавить матрицу</a></div>
        }
    </div>

    <hr class="pt-2">
    <table id="DT_Items" class="display text-center table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Фото</th>
                <th>Название</th>
                <th>Артикул</th>
                <th>Размер</th>
                <th>Склад</th>
                <th>Шт</th>
                <th><img src="~/icons/IconCell-black.png" height="20"></th>

                @if (!User.IsInRole("Watcher"))
                {
                    <th></th>
                    <th></th>
                    <th></th>
                }
                else
                {
                    <th></th>
                }

            </tr>
        </thead>
    </table>
</div>

@section Scripts{

    @if (User.IsInRole("Driver"))
    {
        <script src="~/js/Items/DriverItemsList.js"></script>
    }
    else if (User.IsInRole("Watcher"))
    {
        <script src="~/js/Items/WatcherItemsList.js"></script>
    }
    else
    {
        <script src="~/js/Items/ItemsList.js"></script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $(".myfancybox").fancybox({});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".myframe").fancybox({
                iframe: {
                    scrolling: 'yes',
                },
            });
        });
    </script>
}