@page
@{
    ViewData["Title"] = "Интегратор";
}

<h3>Интегратор данных </h3>




<div class="col-12 text-muted">



<p>Интегратор данных позволяет вытянуть все данные из системы в форматек JSON и 
сохранить их в другом удобном формате на компьютере, а так же позволяет быстро 
наполнить данными приложение</p>    
</div>